{% extends "base.html" %}

{% block content %}
    <h3 class="text-center alert-success btn-lg">
        Hello, {{ user.username }}. Your group is <span style="color: #8965ff">{{ gp_name }}</span>.
    </h3>

    <h3 class="text-center alert-warning btn-lg">
        Want to look documentation of API? <a href="/docs">click me</a>
    </h3>

    <div class="row text-center auth_btn_content">
        <button type="submit" class="btn input-lg  btn-danger" style="margin-top: 10px; width: 200px">
            <a href="/logout" style="color: white; text-decoration: none;">Log out</a>
        </button>
    </div>

{%  endblock %}